# Ignore binaries and 
# files enerated by compilation
*.f
*.o
*~
*.mod
*.mod.f90
*.for
# machine-generated source files:
check_srcs.F
check_switches1.F
setup_kwds.F
# binaries
checkkwds
cppcheck
mpc
roms
srcscheck
nccp
nccpstruct
redefs

